<div class="wrapper">

  <div class="page-width text-center about-copy">

    <h3>IOAN™ takes manufacturing back to the regions where products and materials originate, bringing unique local businesses to an international market.</h3>

    </div>

</div>
