
{% section 'frontpage' %}
{% section 'feature-columns' %}

<div class="wrapper">


<div class="grid-uniform">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections.frontpage.products limit:4 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}

  {% else %}
    {% comment %}
      For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>





{% comment %}
  Loop through three recent blog articles with the following code.

  Since we're not on the blog template, we need to define the blog
  handle we want to focus on. For this example we'll use the default 'news',
  but you can create a blog page-specific content if you want.
{% endcomment %}


<!-- <div class="grid--full">





<div class="grid__item large--six-twelfths ">
 <h2>Sign up for our Newsletter.</h2>




 <input type="text" value="Enter email for special offers"  class="textbox" onblur="if(this.value=='') this.value='Enter email for special offers';" onfocus="if(this.value=='Enter email for special offers') this.value=''"><input type="image" name="ctl00$ucemail$imgEmailSignUp" id="ucemail_imgEmailSignUp" class="joinbutton" src="App_Themes/industryallnations/Images/arrow-new.png">
</div>


</div> -->


</div>
